<% content_for :title  do %>
  Update Details for  <%= @business.name %>
<% end %>

<div class="container">
  <h3>Update Details for <%= @business.name %></h3>
  <%= simple_form_for @business do |f| %>
  <div class="form-card">
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :industry, collection: ["Health and Social Services", "Construction and Manufacturing",
      "Education and Training", "Retail Trade", "Public Administration",
      "Professional and Technical Services", "Hospitality", "Logistics", "Other Services",
      "Mining and Resources", "Clean Energy", "Agriculture"] %>
    <%= f.input :photo, as: :file %>
    <div class="yellow-button">
      <%= f.button :submit, 'Edit Business' %>
    </div>
    <% end %>
  </div>
</div>
