<% content_for :title  do %>
  <%= @business.name %><%= (@business.name.last == 's') ? "'" : "'s" %>
   Profile
<% end %>



<div class="container">
<!--   <div class="page-header">
  </div> -->
div.
  <div class="profile-card">
    <div class="profile-box">
    <h4 class="profile-title">
      <%= @business.name %>
    </h4>
      <div class="profile-photo">
        <%= cl_image_tag @business.photo.key, alt: "Profile Photo" %>
      </div>
    </div>
    <br>
    <p><strong>Address:</strong> <%= @business.address %></p>
    <p><strong>Phone:</strong> <%= @business.phone_number %></p>
    <p><strong>Website:</strong> <a href="<%= @business.website %>"><%= @business.website %></a></p>
    <p><strong>Industry:</strong> <%= @business.industry %></p>
    <p><strong>About Us:</strong> <%= @business.bio %></p>
  </div>
  <br>
  <div class="profile-card">
    <h6 class="profile-title" style="text-align: center;">
      Reviews for <%= @business.name %>
    </h6>
    <% @business_claims = Claim.where(business_id: @business.id) %>
    <% @business_claim_ids = @business_claims.ids %>
    <% @business_reviews = Review.where(claim_id: @business_claim_ids) %>

    <% @business_reviews.each do |review| %>
      <div class="stars"><% review.star.times do |s| %>
        <i class="fas fa-star"></i>
      <% end %>
      </div>
      <p><%= review.content.capitalize %></p>
    <% end %>

    <%= @business_claims.count %>
    <%= @business_reviews.first.star %>
    <%= @business_claims.first.charity_id %>
  </div>
</div>

