<div class="centered-content container">
  <div class="card donation-card margin-top">
      Yay for <%= @claim.charity.name %>!
      You have claimed a donation from <%= @claim.business.name %>.
      You'll receive details on email and....
        This donation includes:
          <ul>
          <%  @claim.food_donation.food_items.each do | food_item | %>
            <li>food_item.name</li>
          <% end %>
          </ul>
    <%= render 'review_partial' if current_user.charity == @claim.charity %>
    <%= render 'no_show_partial' if current_user.business == @claim.business %>
    <% if current_user == @claim.charity.user %>
      <%= simple_form_for @claim, method: :delete do |f|%>
      <%= f.button :submit, "Undo Claim", class: 'btn yellow-button', data: { confirm: "Are you sure? Another organization will be able to claim this donation if you don't need it." }  %>
      <% end %>
    <% end %>
  </div>
</div>
