<% content_for :title  do %>
  <%= current_user.charity ? 'Your Claim' : 'Your Listing has been claimed!' %>
<% end %>
<div class="container">
  <div class="centered-content index-header">
        <div class="claim-show-body">
          <h1>Thank You!</h1>
            <div class="form-card">
              <div class="food-item-card">

                <div class="claim-show-text">
                  <p><%= @claim.charity.name %>!
                  <br>You have claimed a donation from <%= link_to @claim.business.name, business_path(@claim.business) %>. An email has been sent to both yourself and <%= @claim.business.user.first_name.capitalize %> with more information.
                  <br><strong>Contact Details:</strong> <br>
                  <%= @claim.business.user.first_name.capitalize %> <%= @claim.business.user.last_name.capitalize %> <br>
                  <%= @claim.business.user.phone_number %> <br>
                  <%= @claim.business.user.email %> <br>
                  <% review = Review.find_by(claim_id: @claim.id) %>
                  <% if ( current_user == @claim.charity.user ) && !review %>
                  <br>If you no longer want this donation, click here to <%= link_to 'Undo Claim.', claim_path(@claim), method: :delete, data: { confirm: "Are you sure? Another organization will be able to claim this donation if you don't need it." }%>
                  <% end %>
                  </p>
                </div>
              </div>
              <br>
              <div class="food-item-card">

                <div class="claim-show-info">
                  <h1>This donation includes:</h1>
                  <%  @claim.food_donation.food_items.each do | food_item | %>
                    <%= food_item.name.capitalize %> - <%= food_item.quantity %> <%= food_item.measure %>
                  <% end %>
                </div>

                <%= render 'review_partial' if current_user.charity == @claim.charity %>
                <%= render 'no_show_partial' if current_user.business == @claim.business %>
              </div>
      </div>
    </div>
  </div>
</div>
