

<div class="container">
  <div>
    <h1>Food Items</h1>

    When is this food going to be available? Please add your hours below.
    E.g. Monday 9-5, Wednesday 7-3.
    <%= simple_form_for [@food_donation, @food_donation_availability] %>
    <div class="form-card">
      <%= f.input %>
      <%= f.input :start_time, as: :datetime, html5: true %>
      <%= f.input :end_time, as: :datetime, html5: true %>
      <%= f.submit, 'Add Available Time' %>
      <% end %>
    </div>

    <% @food_donation.food_items.each do |food_item| %>
    <p><%= food_item.name %></p>
    <%= cl_image_tag food_item.photo.key %>
    <% end %>
  </div>

  <div>
    <h1>Add Food Item</h1>
    <%= simple_form_for [@food_donation, FoodItem.new] do |f| %>
      <div class="form-card">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :quantity %>
        <%= f.input :measure, collection: ['Grams', 'Kilograms', 'Servings', 'Millilitres', 'Litres'] %>
        <%= f.input :expiry_date, as: :date %>
        <%= f.input :photo, as: :file %>
      </div>
      <%= f.submit %>
    <% end %>
  </div>
  <hr>
  <div>
    <%= simple_form_for @food_donation do |f| %>
    <%= f.button :submit, 'Complete Donation'%>
    <% end %>
  </div>
</div>

