

<div class="container">
    When will this donation be available? Please add your hours below.
    E.g. Monday 9-5, Wednesday 7-3.

    <div class="form-card">
      <%= simple_form_for [@food_donation, DonationAvailability.new ] do |f| %>
      <%= f.input :start_time, as: :datetime, html5: true %>
      <%= f.input :end_time, as: :datetime, html5: true %>
      <%= f.button :submit, 'Add Availability', method: :post, class: 'btn btn-info submit-button' %>
      <% end %>
    </div>

    <div>
      <% @avail_times = @food_donation.donation_availabilities %>
      <%= 'Available:' unless @avail_times.empty? %>
      <ul>
      <% @avail_times.each do |time| %>
      <li>Between <%= time.start_time %> and <%= time.end_time %></li>
      <% end %>
      </ul>
    </div>
  </div>

<div class="container">
  <div>
    <h1>Food Items</h1>
      <% @food_donation.food_items.each do |food_item| %>
        <p><%= food_item.name %></p>
        <%= cl_image_tag food_item.photo.key, height: 300, width: 400, crop: :fill %>
        <p>
        <ul>
          <% food_item.food_item_tags.each do |food_item_tag| %>
            <li class="btn btn-primary go-back-button"><%= food_item_tag.tag.name %></li>
          <% end %>
        </ul>
      </p>
      <% end %>

    <h1>Add Food Item</h1>
    <div class="form-card">
      <%= simple_form_for [@food_donation, FoodItem.new] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :quantity %>
        <%= f.input :measure, collection: ['Grams', 'Kilograms', 'Servings',
          'Millilitres', 'Litres'] %>
        <%= f.input :expiry_date, as: :date %>
        <%= f.input :photo, as: :file %>
          <%= f.simple_fields_for FoodItem.new, :food_item_tags do |t| %>
            <%= t.input :name, label: 'Choose tags', as: :check_boxes, collection:
            ["Gluten-Free", "Dairy-Free", "Lactose-Free", "Halal", "Kosher",
              "Vegetarian", "Vegan", "Packaged Food", "Prepared Meal", "Fruit",
              "Vegetable", "Dairy", "Sugar-Free", "Sweet", "Drink", "Canned Food",
              "Long-Lasting", "Nut-Free", "Meat", "Fish", "Poultry", "Grains",
              "Baked Goods", "Condiments", "Breakfast", "Soup", "Low Sodium"] %>
          <% end %>
          <%= f.button :submit, 'Add', method: :post,
            class: 'btn btn-info submit-button' %>
          <% end %>
      </div>
  </div>
  <hr>
  <div>
    <%= simple_form_for @food_donation do |f| %>
    <%= f.button :submit, 'Complete Donation', class: 'btn btn-info submit-button' %>
    <% end %>
  </div>
</div>
