

<div class="container">
  <div>
    When will this donation be available? Please add your hours below.
    E.g. Monday 9-5, Wednesday 7-3.

   <div class="form-card">
    <%= simple_form_for [@food_donation, DonationAvailability.new ] do |f| %>
    <%= f.input :start_time, html5: true %>
    <%= f.input :end_time, html5: true %>
    <div class="form-actions">
      <%= f.button :submit, 'Add Availability', method: :post, class: 'btn btn-info submit-button' %>
    </div>
    <% end %>
  </div>

    <% @food_donation.food_items.each do |food_item| %>
    <p><%= food_item.name %></p>
    <%= cl_image_tag food_item.photo.key %>
    <% end %></div>
  <div>
    <div>
      <% @avail_times = @food_donation.donation_availabilities %>
      <%= 'Available:' unless @avail_times.empty? %>
      <ul>
      <% @avail_times.each do |time| %>
      <li>Between <%= time.start_time %> and <%= time.end_time %></li>
      <% end %>
      </ul>
    </div>

    <h1>Food Items</h1>
  </div>

  <div>
    <h1>Add Food Item</h1>
    <%= simple_form_for [@food_donation, FoodItem.new] do |f| %>
      <div class="form-card">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :quantity %>
        <%= f.input :measure, collection: ['Grams', 'Kilograms', 'Servings', 'Millilitres', 'Litres'] %>
        <%= f.input :expiry_date, as: :date %>
        <%= f.input :photo, as: :file %>
      </div>
      <div class="form-actions btn">
        <%= f.button :submit, 'Create Food Item' %>
      </div>
    <% end %>
  </div>
  <hr>
  <div>
    <%= simple_form_for @food_donation do |f| %>
    <div class="form-actions">
      <%= f.button :submit, 'Complete Donation' %>
    </div>
    <% end %>
  </div>
</div>

