<div class="container">
  <div class="page-header">
    <h1>Create Food Donation</h1>
  </div>
    <div class="form-card">
    <%= simple_form_for @food_donation do |f| %>
    <%= f.input :address, placeholder: "eg. 10 Main St, Brunswick..." %>
    <div class="d-flex align-items-start">
      <%= f.input :dropoff, as: :radio_buttons %>
      <%= f.input :distance_limit, label: 'Distance Limit (kilometres)', collection: [5, 10, 15, 20, 25, 50, 100] %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Go to available times' %>
    </div>
    <% end %>
  </div>

</div>
