<div class="centered-content container">
    <div class="card donation-card margin-top">

<h3>Food Donation Title</h3>
<div>
  <ul>
    <% @food_donation.food_items.each do | food |  %>
      <li><%= food.name %>, <%= food.quantity %> <%= food.measure %></li>
    <% end %>
  </ul>
</div>

<% if current_user.charity && (@food_donation.status == "unclaimed") %>
<%= simple_form_for [@food_donation, Claim.new] do |f| %>
<%= f.button :submit, 'We need this!', method: :post, class: 'btn btn-info submit-button' %>
  <% end %>
<% end %>

<% if @my_claim %>
  <%= "Your donation has been claimed!" %>
    <%= link_to 'See Details', claim_path(@my_claim), class: 'btn btn-info submit-button' %>
<% end %>
</div>
</div>
