<div class="container page-header">
    <div class="show-card show-page-text">

        <h1>Your Donation</h1>

        <div class="card form-card">
            <% @food_donation.food_items.each do | food |  %>
            <div class="food-item-card">
              <div>
                <h4><%= food.name %></h4>
                <%= food.quantity %> <%= food.measure %><br>
                Location: <%= food.food_donation.address %>
              </div>
              <div>Dietarys:
                <% food.food_donation.food_items.first.tags.each do |tag| %>
                   <%= tag.name %> .
                <% end %>
              </div>
              <div>Expiry: <%= food.food_donation.food_items.first.expiry_date %></div>
                <div class="show-card-photo"><%= cl_image_tag @food_donation.food_items.first.photo.key %></div>
              <div>Donated by: <strong><%= food.food_donation.food_items.first.business.name %></strong><br>
                <%= link_to 'Company Info', my_profile_path(food.food_donation.food_items.first.business.id) %></div>
              <div>Industry: <%= food.food_donation.food_items.first.business.industry %></div>
              <% if food.food_donation.dropoff %>
                <div >Delivery up to <%= food.food_donation.distance_limit %> km</div>
              <% end %>
              </div>
            </div>
            <% end %>

        </div>

        <% if current_user.charity && (@food_donation.status == "unclaimed") %>
        <%= simple_form_for [@food_donation, Claim.new] do |f| %>
        <%= f.button :submit, 'We need this!', method: :post, class: 'btn btn-info submit-button' %>
          <% end %>
        <% end %>

        <% if @my_claim %>
          <%= "Your donation has been claimed!" %>
            <%= link_to 'See Details', claim_path(@my_claim), class: 'btn btn-info submit-button' %>
        <% end %>
    </div>
</div>
