<% content_for :title  do %>
  Register Your Charity or Non-Profit
<% end %>

<div class="container">
  <h3>Register Your Charity or Non-Profit Organisation</h3>
  <p>Please fill in your charity's basic details here.
  We will contact you with the next steps for verification within two business days.</p>
  <%= simple_form_for @charity do |f| %>
  <div class="form-card">
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :website %>
    <%= f.input :photo, as: :file %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Submit Application' %>
  </div>
  <% end %>
</div>
