<div class="container">
  <h3>Create Charity Account</h3>
  <p>Please fill in your charity's basic details here.
  We will contact you with the next steps for verification within two business days.</p>
  <%= simple_form_for @charity do |f| %>
  <%= f.input :name %>
  <%= f.input :bio %>
  <%= f.input :address %>
  <%= f.input :email %>
  <%= f.input :phone_number %>
  <%= f.input :website %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, 'Submit Application' %>
  <% end %>
</div>
